.todo-container {
  display: flex;
  flex-direction: column;
  padding: 20px;

  .header-section {
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;

    h1 {
      font-size: 1.5rem;
    }
  }

  .content-section {
    display: flex;
    gap: 20px;

    .add-todo {
      flex: 1;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 8px;

      .form-group {
        margin-bottom: 10px;

        label {
          display: block;
          margin-bottom: 5px;
        }

        input {
          width: 100%;
          padding: 5px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
      }

      .add-todo-button {
        background-color: rgb(56, 117, 240);
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;

        &:hover {
          background-color: rgb(26, 86, 220);
        }
      }

      .difficulty-slider {
        cursor: pointer;
        accent-color: rgb(75, 134, 252);
        &:hover {
          .mantine-Slider-tooltip {
            display: block;
          }
        }
      }
    }

    .todos {
      flex: 2;
      display: flex;
      flex-direction: column;

      .todo-item {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .pending-button {
          background-color: green;
          color: white;
          border: none;
          padding: 8px 16px;
          cursor: pointer;
          border-radius: 16px;
          font-size: 14px;

          &.completed { // Added for completed state
            background-color: red;
          }

          &:hover {
            background-color: darkgreen;
          }
        }

        .close-button {
          margin-left: 10px;
          font-size: 16px;
          cursor: pointer;
        }

        .todo-content {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
