.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 136, 255);
  padding: 10px;
  margin-bottom: -5px; 

  .header-left {
    display: flex;
    gap: 15px;
  }

  .header-right {
    color: black;

    .logout-button {
      background-color: red;
      color: white;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
    }
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
