.app {
  text-align: center;
}

.app-header {
  display: flex;
  justify-content: space-between;
  background-color: blue;
  padding: 10px;
}

.left-header {
  display: flex;
  gap: 10px;
}

.right-header {
  display: flex;
  align-items: center;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.logout-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: darkred;
}
