.app {
  text-align: center;
}

.app-header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(56, 117, 240);
  padding: 10px;
}

.left-header {
  display: flex;
  gap: 10px;
}

.right-header {
  display: flex;
  align-items: center;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.logout-button {
  background-color: rgb(238, 113, 24);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: darkred;
}

footer {
  text-align: right;
  margin-top: 20px;
  margin-right: 20px; 
}
